/* reset */
*{
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: "MargunGothic", "맑은고딕";
	color: #708287;
	line-height: 1;
	text-decoration: none;
	list-style: none;
	font-style: normal;
	border: 0;
	vertical-align: middle;
	box-sizing: border-box;
}
body{
	padding: 0;
	background-color: #e6f4f8;
}
/* layout - header */
.header{
	position: relative;
	width:960px;
	height: 145px;
	margin:0 auto;
}
.header .logo{
	width: 94px;
	height: 29px;
	padding-top: 64px;
	padding-left: 10px;
}
.header .logo a{

}
.header .logo img{
	width: 94px;
	height: auto;
}
/* navigation */
.nav{
	position: absolute;
	top: 78px;
	right: 0;
}
.nav a{
	display: inline-block;
	float: left;
	margin: 0 10px;
	color: #2f323a;
	font-size: 16px;
	font-weight: bold;
}
/* layout - container */
.container{
	width:960px;
	margin:0 auto;
}
.container::after{
	content:"";
	display:block;
	clear:both;
}
.container img{
	width: 100%;
	height: 100%;
}
.portfolio{
	position:relative;
	width:100%;
	height:300px;
	margin-bottom:10px;
	background-color:#000;
}
.portfolio .txt{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	height:72px;
	margin:auto;
	text-align:center;
}
.portfolio .txt em{
	display:inline-block;
	width:100%;
	margin-bottom:20px;
	color:#fff;
	font-size:16px;
}
.portfolio .txt strong{
	display:inline-block;
	width:100%;
	margin: 25px 0;
	color:#fff;
	font-size:36px;
}
.portfolio .more{
	display:block;
	position:absolute;
	bottom:40px;
	left:50%;
	width:120px;
	height:40px;
	padding:10px;
	border:1px solid #717172;
	border-radius:40px;
	text-align:center;
	/* line-height:36px; */
	color:#fff;
	font-size:14px;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	-ms-border-radius:40px;
	-o-border-radius:40px;
}
.html5{
	position: relative;
	float:left;
	width:49.5%;
	height:475px;
	margin-bottom:1%;
	background-color:#b9a882;
}
.css3{
	position: relative;
	float:right;
	width:49.5%;
	height:475px;
	margin-bottom:1%;
	background-color:#2d2d35;
}
.html5 .txt,
.css3 .txt{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.html5 em,
.css3 em{
	display: inline-block;
	width: 100%;
	color: #fff;
	font-size: 36px;
}
.html5 strong,
.css3 strong{
	display: inline-block;
	width: 100%;
	margin: 25px 0;
	color: #fff;
	font-size: 18px;
	font-family: "Myriad Pro";
}
.html5 .more,
.css3 .more{
	display: inline-block;
	width:120px;
	height:40px;
	padding:10px;
	border: 1px solid rgba(255,255,255,.7);
	border-radius:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
}
.less{
	clear:both;
	float:left;
	width:232.5px;
	height:232.5px;
	margin-right:10px;
	background-color:yellow;
}
.js{
	float:left;
	width:232.5px;
	height:232.5px;
	margin-right:10px;
	background-color:skyblue;
}
.svn{
	float:left;
	width:232.5px;
	height:232.5px;
	margin-right:10px;
	background-color:darkcyan;
}
.git{
	float:left;
	width:232.5px;
	height:232.5px;
	background-color:darkorange;
}
/* layout - footer */
.footer{
	width:100%;
	margin:50px 0 0;
	background-color: #dbecf1;
}
.footerwrap{
	position: relative;
	width: 960px;
	height: 100px;
	margin: 0 auto;
}
.footer .copy{
	padding-top: 60px;
}
.footer .copy span{
	float: left;
	color: #708287;
	font-size: 14px;
}
.footer .copy span:last-child{
	float: right;
}
.footer .copy b{
	color: #2f323a;
	font-weight: normal;
}
.footer .sns{
	position: absolute;
	top: 30px;
	right: 0;
}
.footer .sns a{
	display: inline-block;
	float: left;
	margin-left: 25px;
}
.footer .sns a:first-child{
	margin-left: 0;
}
/* media query */
@media(max-width:959px){
	body{
		padding:0 15px;
	}
	.header{
		width:100%;
		padding-top: 60px;
	}
	.header .logo{
		margin: 0 auto 20px;
		padding-top: 0;
		padding-left: 0;
	}
	/* navigation */
	.nav{
		position: static;
		width: 100%;
		text-align: center;
	}
	.nav a{
		float: none;
	}
	.container{
		width:100%;
	}
	.portfolio{
		height:376;
	}
	.html5{
		height:372px;
	}
	.css3{
		height:372px;
	}
	.less{
		float:left;
		width:49.5%;
		height:372px;
		margin-right:0;
		margin-bottom:1%;
	}
	.js{
		float:right;
		width:49.5%;
		height:372px;
		margin-right:0;
		margin-bottom:1%;
	}
	.svn{
		clear:both;
		float:left;
		height:372px;
		width:49.5%;
		margin-right:0;
	}
	.git{
		float:right;
		width:49.5%;
		height:372px;
	}
	.footer{
		width:100%;
		margin: 0;
	}
	.footerwrap{
		width: 100%;
		height: 125px;
		text-align: center;
	
	}
	.footer .copy span{
		float: none;
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
	}
	.footer .copy span:last-child{
		float: none;
	}
	.footer .sns{
		display: inline-block;
		left: 50%;
		right: auto;
		transform: translateX(-50%)	;
		-webkit-transform: translateX(-50%)	;
		-moz-transform: translateX(-50%)	;
		-ms-transform: translateX(-50%)	;
		-o-transform: translateX(-50%)	;
}
	.footer .sns a{
		float: none;
		margin: 0 22px;
	}
	.footer .sns a:last-child{
		margin-right: 0;
	}
}