html, body, div, p, ul, ol, li, dl, dt, dd, table, caption, thead, tfoot, tbody, tr, th, td, form, fieldset, legend, section, article, nav, figure, figcaption,
main, footer, address,
h1,h2,h3,h4,h5,h6,
span,strong,b,i,em,img,a,del,ins,label,input,select,textarea,button,video,audio,iframe,hr,br{
	margin:0;
	padding:0;
	color:#222;
	font-size:13px;
	list-style:none;
	border:0;
	line-height:1;
	text-decoration:none;
	vertical-align:middle;
	box-sizing:border-box;
}
::before,
::after{
	margin:0;
	padding:0;
	color:#222;
	font-size:13px;
	line-height:1;
	vertical-align:middle;
	box-sizing:border-box;
}
/* IE 하위 브라우저 대응 처리 */
section, article, nav, figure, figcaption, main, footer, address{
	display:block;
}
/* 숨김처리 */
hr,
caption,
legend{
	display:none;
}

/* float 해제 */
.clear{
	clear:both;
	display:block;
	width:100%;
	height:ayto;
}

/* input style */
label{
	display:inline-block;
}
input{
	min-height:40px;
	line-height:40px;
	border:1px solid #dadada;
}
input:focus{
	border-color:#222;
	outline:none;
}
input[type="checkbox"],
input[type="radio"]{
min-height:auto;
line-height:1;
border:0;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus{
	border-color:transparent;
}
input[disabled]{
	background-color:#f8f8f8;
}
input[readonly]{
	background-color:#f8f8f8;
}
i,em,address{
	font-style:normal;
}

/* table */
table{
	width:100%;
	border:1x solid #222;
	border-spacing:0;
	border-collapse: collapse;
}
th,td{
	padding:5px;
	border:1px solid #222;
}

/* Font Icon */
.fa::before{
	color:inherit;
	font-size:inherit;
}